modules = ["web", "python-3.11", "nodejs-20"]
run = "run"

[nix]
channel = "stable-24_05"
packages = ["openssl", "postgresql"]

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "run"]

[workflows]
runButton = "Run Flask Dev Server"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "install_dependencies"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "install_dependencies"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv add flask-socketio openpyxl requests"

[[workflows.workflow]]
name = "start_all_tests"
author = 43007011
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd visual_field_test && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd csv1000_test && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd edge_test && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd motion_test && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd pattern_test && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd pellii_robinson_test && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd sparcs_test_dot && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "wait"

[[workflows.workflow]]
name = "start_individual_tests"
author = 43007011
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd visual_field_test && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd csv1000_test && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd edge_test && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd motion_test && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd pattern_test && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd pellii_robinson_test && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd sparcs_test_dot && python app.py &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "wait"

[[workflows.workflow]]
name = "Run Flask Dev Server"
author = 43007011
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80
